.card {
	overflow: hidden;
}

.product-name {
	font-size: 14px;
	line-height: 1.63;
	height: 44px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.discount {
	font-size: 20px;
	text-align: center;
}

.discount-tag {
	border-bottom-left-radius: 5px;
}

.product-img {
	min-height: 350px;
}
